/* Header fixed for login page */
.loginHeader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #341659;
        padding: 1.25rem;
        z-index: 100;
        text-align: left;
}
      
/* Center content of login page */
.loginPage {
        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding-top: 80px; /* offset header if needed */
        box-sizing: border-box;
        background: #1F1C2C;
}
      
/* Login box */
.auth-container {
        background-color: #2a2a3b;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px;
}
